<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container"> <!-- BEGIN WHOLE PAGE CONTAINER -->

        <div class="d-flex flex-row justify-content-center"> <!-- BEGIN NAVBAR ROW -->
            <nav class="navbar navbar-expand-lg"> <!-- BEGIN NAVBAR -->
                <ul class='navbar-nav mr-auto'>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </nav> <!-- END NAVBAR -->
        </div> <!-- END NAVBAR ROW -->

        <div class="container"> <!-- BEGIN MAIN BODY -->
            <div class="d-flex flex-row justify-content-center"> <!-- BEGIN BODY HEADER -->
                <h4>About Me</h4>
            </div> <!-- END BODY HEADER -->

            <div class="row mt-5"> <!-- BEGIN MAIN BODY COLS -->
                <div class="col mt-2 align-self-center"> <!-- BEGIN BODY COL-1 -->
                    
                    <img src="https://placekeanu.com/200" alt="profile picture">
                    <h5>Chris Bak-Coleman</h5>
                    <p>A hoopy frood that knows where her towel is, but nothing else.</p>
                    
                </div> <!-- END BODY COL-1 -->

                <div class="col mt-2 align-self-center"> <!-- BEGIN BODY COL-2 -->
                    
                    <p>10/10 would recoment</p>
                    <p>5 out of 5 Frogs</p>
                    <p>Can eat a whole (personal) pizza in 1 sitting!</p>
                    <p>My soul is corn</p>
                    <p>Got a pun? My corny senses are tingling</p>
                    
                </div> <!-- END BODY COL-2 -->
            </div><!-- END MAIN BODY COLS -->

        </div> <!-- END MAIN BODY -->

    </div> <!-- END WHOLE PAGE CONTAINER -->
</body>
</html>